body {
    font-family: Arial, sans-serif;
    background-color: #474747ef;
    margin: 0;
    padding: 20px;
  }
  
  .container {
    max-width: 800px;
    margin: 0 auto;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  h1 {
    color: #333333;
  }
  
  label {
    font-weight: bold;
  }
  
  .chart-info {
    margin-top: 20px;
    background-color: #f9f9f9;
    padding: 10px;
    border-radius: 4px;
  }
  
  #chartContainer {
    margin-top: 20px;
  }
  
  canvas {
    max-width: 100%;
  }
  
  .generate-button {
    margin-top: 10px;
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
  }
  
  .generate-button:hover {
    background-color: #45a049;
  }
  
  .select-input {
    margin-bottom: 10px;
  }
  
  .navbar {
    background-color: #333333;
    padding: 10px;
  }
  
  .navbar-brand,
  .navbar-nav .nav-link {
    color: rgb(0, 0, 0);
  }
  
  .navbar-brand:hover,
  .navbar-nav .nav-link:hover {
    color: #da0000;
  }
  
  .nav-item.active .nav-link {
    font-weight: bold;
  }
  
  .dropdown-menu {
    background-color: #f9f9f9;
  }
  
  .dropdown-item:hover {
    background-color: #e9e9e9;
  }
  
  .dropdown-item.active,
  .dropdown-item:active {
    background-color: #d9d9d9;
  }
  
  .dropdown-toggle::after {
    margin-left: 0.5em;
    border-top: 0.3em solid white;
    border-right: 0.3em solid transparent;
    border-left: 0.3em solid transparent;
  }
  
  .button-85 {
    padding: 0.6em 2em;
    border: none;
    outline: none;
    color: rgb(255, 255, 255);
    background: #111;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
  }
  
  .button-85:before {
    content: "";
    background: linear-gradient(
      45deg,
      #ff0000,
      #ff7300,
      #fffb00,
      #48ff00,
      #00ffd5,
      #002bff,
      #7a00ff,
      #ff00c8,
      #ff0000
    );
    position: absolute;
    top: -2px;
    left: -2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    -webkit-filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing-button-85 20s linear infinite;
    transition: opacity 0.3s ease-in-out;
    border-radius: 10px;
  }
  
  @keyframes glowing-button-85 {
    0% {
      background-position: 0 0;
    }
    50% {
      background-position: 400% 0;
    }
    100% {
      background-position: 0 0;
    }
  }
  
  .button-85:after {
    z-index: -1;
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: #222;
    left: 0;
    top: 0;
    border-radius: 10px;
  }
  