body {
    font-family: Arial, sans-serif;
    background-color: #474747ef;
    margin: 0;
    padding: 0;
  }
  
  h1 {
    text-align: center;
    margin-top: 40px;
  }
  
  ul {
    list-style-type: none;
    padding: 0;
  }
  
  .navbar {
    background-color: #fff;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .navbar-brand {
    font-size: 1.5rem;
    font-weight: bold;
  }
  
  .nav-link {
    font-size: 1.2rem;
  }
  
  #resultsList {
    margin-top: 30px;
    text-align: center;
  }
  
  #barChartContainer {
    max-width: 800px;
    margin: 0 auto;
    height: 600px;
    background-color: #fff;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    padding: 20px;
    margin-top: 30px;
  }
  
  @media (max-width: 767px) {
    #barChartContainer {
      height: 400px;
    }
  }
  