/* Navbar */
.navbar {
    background-color: #f8f9fa;
  }
  
  .navbar-brand {
    font-size: 24px;
    font-weight: bold;
    color: #333;
  }
  
  .nav-link {
    font-size: 16px;
    color: #333;
  }
  
  .nav-link:hover {
    color: #000;
  }
  
  #barChartContainer {
    width: 100%;
    height: 500px; /* Adjust the height as needed */
  }
  
  #barChart {
    width: 100%;
    height: 100%;
  }
  /* Page Layout */
  body {
    padding-top: 80px;
  }
  
  h1 {
    text-align: center;
    margin-bottom: 30px;
  }
  
  #resultsList {
    margin-top: 50px;
  }
  
  #barChartContainer {
    width: 80%;
    margin: 50px auto;
  }
  